<style>
    .ng-hide {
        display: none;
    }
</style>

<!-- All Class r depend to this Id  -->
<div id="userProfile_Container" class="no-skin row" style="margin-top: 25px;">

    <div id="sidebar" class="col-md-2"
         ng-include="'Areas/User/templates/partials/sideBar.html'">
    </div>

    <div class="col-md-10">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="#">Home</a>
                </li>
                <li class="active">Dashboard</li>
            </ul><!-- /.breadcrumb -->

        </div>

        <div class="page-content">

            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->

                    <div class="row">
                        <div class="space-6"></div>
                        
                        <div class="col-lg-7 col-sm-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">Change Password</div>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <form name="user_Password_ChangeForm" class="form-group" ng-submit="save_userInfo(user_Password_ChangeForm)" ng-validate="validationOptions">
                                            <div class="col-md-12 col-lg-12">
                                                <table class="table table-user-information">
                                                    <tbody>
                                                        <tr>
                                                            <td>Old Password:</td>
                                                            <td><input type="password" class="form-control" name="newPassword" ng-model="model.newPassword"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>New Password</td>
                                                            <td><input type="password" class="form-control" id="oldPassword" name="oldPassword" ng-model="model.oldPassword"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Retype New Password</td>
                                                            <td><input type="password" class="form-control" name="oldPassword1"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                                <div class="col-md-12 text-center" style="margin-top:15px;">
                                                    <button type="submit" class="btn btn-primary">Save Changes</button>
                                                </div>

                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>