<style>
    .AnsRight {
        color: #2cb9ff;
    }
</style>

<div id="userProfile_Container" class="no-skin row" style="margin-top: 25px;">

    <div id="sidebar" class="col-md-2"
         ng-include="'Areas/User/templates/partials/sideBar.html'">
    </div>

    <div class="col-md-10">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="#">Home</a>
                </li>
                <li class="active">Dashboard</li>
            </ul><!-- /.breadcrumb -->

        </div>

        <div class="page-content">

            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->

                    <div class="row">
                        <div class="space-6"></div>

                        <div class="col-sm-12">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title text-center">Quiz History</div>
                                </div>
                                <div class="panel-body">
                                    <h4 class="text-right" ng-if="quizList.length !== 0"> Your Total Points : {{ totalPoints }} </h4>

                                    <div class="col-sm-12" style="height: 200px;" ng-if="quizList.length === 0">
                                        <h1> Oops!, You have not give answer of any quiz !</h1>
                                    </div>

                                    <div class="row" ng-if="quizList.length !== 0">

                                        <div ng-repeat="quizInfo in quizList" class="col-sm-12" style="border-top: 1px solid #ddd; padding: 10px;">

                                            <div class="col-md-12 col-lg-12">
                                                <span style="FONT-SIZE: 1.1em;font-weight: 600;"> Q. {{ $index + 1 }}</span>
                                                <span ng-bind="quizInfo.Question"></span>
                                                <div style="margin-left: 49px;" ng-if="quizInfo.ImageUrl">
                                                    <img class="img-responsive" alt="Question Image"
                                                         style="height: 85px;width: 85px;"
                                                         ng-src="{{ quizInfo.ImageUrl }}">
                                                </div>
                                            </div>

                                            <div class="col-sm-6"
                                                 style="margin-top: 25px;"
                                                 ng-repeat="quiz in quizInfo.QuizOptions">
                                                <div class="col-sm-1" style="width: 11%;">
                                                    <span style="FONT-SIZE: 1.2em;">{{ charsArr[$index] }}.</span>
                                                </div>

                                                <div class="col-sm-10" style="padding: 0;">
                                                    <img class="img-responsive" alt="Question Image"
                                                         style="height: 85px;width: 85px;position: initial;"
                                                         ng-src="{{ quiz.ImageUrl }}"
                                                         ng-if="quiz.ImageUrl" />

                                                    <div ng-if="quiz.Option"
                                                         ng-bind="quiz.Option"></div>
                                                </div>
                                            </div>

                                            <div class="col-sm-12" style="border-top: 1px solid #ddd; margin-top: 15px; padding-top: 12px;">
                                                <div class="col-sm-6 text-left"
                                                     ng-class="quizInfo.UserAnswerId_index === quizInfo.QuizAnswerId_index ? 'AnsRight' : 'text-danger'">
                                                    Your Answer : ({{ charsArr[quizInfo.UserAnswerId_index] }})
                                                </div>
                                                <div class="col-sm-6 text-right"> Right Answer : ({{ charsArr[quizInfo.QuizAnswerId_index] }})</div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>