
<div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #fff !important;border-color: #b13131 !important;">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="/Images/silverzone_logo.png" style="height: 67px;" />
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a> </li>
                <li><a href="/">About Us</a> </li>
                <li><a href="/">Contact Us</a> </li>
                <li class="dropdown">
                    <a class="dropbtn" href="/"><i class="fa fa-shopping-cart"></i></a>
                    <div class="dropdown-content">
                        <div style="border-bottom: 1px solid #6f4242;display: table;padding: 10px 0px 10px 0px;">
                            <div class="col-sm-3">
                                <a href="https://www.google.com" class="thumbnail" style="padding: 5px !important;">
                                    <img src="/Images/aa.jpg" class="img-responsive" style="margin: 0 auto;height: 50px;width: 42px;">
                                </a>
                            </div>
                            <div class="col-sm-7" style="padding: 0 !important;">
                                <h5 style="color: #848484; font-size: 0.9em; margin: 2px !important;">
                                    Corsair Gaming Series GS600 Features:
                                </h5>
                                <div style="margin-top: 10px;">
                                    <span style="margin-right: 10px;">Qty</span>
                                    <span>
                                        <select>
                                            <option>ABC</option>
                                            <option>BCA</option>
                                            <option>CAC</option>
                                            <option>BBC</option>
                                            <option>BCC</option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-2" style="padding: 0;">
                                <p><i class="fa fa-inr"></i> 25000 </p><p>
                                    <i class="fa fa-trash"></i>
                                </p>
                            </div>
                        </div>
                        <div style="border-bottom: 1px solid #6f4242;display: table;padding: 10px 0px 10px 0px;">
                            <div class="col-sm-3">
                                <a href="https://www.google.com" class="thumbnail" style="padding: 5px !important;">
                                    <img src="/Images/aa.jpg" class="img-responsive" style="margin: 0 auto;height: 50px;width: 42px;">
                                </a>
                            </div>
                            <div class="col-sm-7" style="padding: 0 !important;">
                                <h5 style="color: #848484; font-size: 0.9em; margin: 2px !important;">
                                    Corsair Gaming Series GS600 Features:
                                </h5>
                                <div style="margin-top: 10px;">
                                    <span style="margin-right: 10px;">Qty</span>
                                    <span>
                                        <select>
                                            <option>ABC</option>
                                            <option>BCA</option>
                                            <option>CAC</option>
                                            <option>BBC</option>
                                            <option>BCC</option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-2" style="padding: 0;">
                                <p><i class="fa fa-inr"></i> 25000 </p><p>
                                    <i class="fa fa-trash"></i>
                                </p>
                            </div>
                        </div>
                        <div style="border-bottom: 1px solid #6f4242;display: table;padding: 10px 0px 10px 0px;">
                            <div class="col-sm-3">
                                <a href="https://www.google.com" class="thumbnail" style="padding: 5px !important;">
                                    <img src="/Images/aa.jpg" class="img-responsive" style="margin: 0 auto;height: 50px;width: 42px;">
                                </a>
                            </div>
                            <div class="col-sm-7" style="padding: 0 !important;">
                                <h5 style="color: #848484; font-size: 0.9em; margin: 2px !important;">
                                    Corsair Gaming Series GS600 Features:
                                </h5>
                                <div style="margin-top: 10px;">
                                    <span style="margin-right: 10px;">Qty</span>
                                    <span>
                                        <select>
                                            <option>ABC</option>
                                            <option>BCA</option>
                                            <option>CAC</option>
                                            <option>BBC</option>
                                            <option>BCC</option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-2" style="padding: 0;">
                                <p><i class="fa fa-inr"></i> 25000 </p><p>
                                    <i class="fa fa-trash"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>