<footer id="footer">
    <div class="container">
        <div class="col-lg-10 col-xs-offset-1 text-center">
            <section class="links">
                <div class="row">
                    <section class="col-md-6 text-left">
                        <h3>Important Links</h3>

                        <div class="col-sm-4">
                            <ul class="unstyled text-left">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Career</a></li>
                                <li><a href="#">Contact Us</a></li>

                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="unstyled text-left">
                                <li><a href="#">Why Silverzone</a></li>
                                <li><a href="#">Testimonials</a></li>
                                <li><a href="#">Freelance</a></li>
                                <li><a href="#">Download</a></li>
                            </ul>
                        </div>
                    </section>
                    <section class="col-md-3 text-left">
                        <h3>Olympiads</h3>
                        <div class="col-md-5 col-sm-4">

                            <ul class="unstyled text-left">
                                <li><a href="#">IIO</a></li>
                                <li><a href="#">IOM</a></li>
                                <li><a href="#">IOS</a></li>
                                <li><a href="#">IOEL</a></li>

                            </ul>
                        </div>
                        <div class="col-md-5 col-sm-4">
                            <ul class="unstyled text-left">

                                <li><a href="#">IFLO</a></li>
                                <li><a href="#">ABHO</a></li>
                                <li><a href="#">SKGKO</a></li>
                                <li><a href="#">ITHO</a></li>
                                <li><a href="#">ISSO</a></li>
                            </ul>
                        </div>
                    </section>
                    <section class="col-md-3 col-sm-4 text-left">
                        <h3>Address:</h3>
                        <p>
                            Silverzone Foundation,<br />
                            B-2, Ansal Chamber-II,<br />Bhikaji Cama Place<br />
                            New Delhi-110066(India)<br />
                            Ph.:-+91-11-26166210-11-12
                        </p>
                    </section>

                </div>
            </section>
            <div class="row">

                <div class="col-md-10 col-sm-10">
                    <ul class="list-inline">
                        <li>
                            <a class="fa fa-facebook-square"><span class="label">Facebook</span></a>
                        </li>
                        <li>
                            <a class="fa fa-twitter-square"><span class="label">Twitter</span></a>
                        </li>
                        <li>
                            <a class="fa fa-google-plus-square"><span class="label">Google+</span></a>
                        </li>
                        <li>
                            <a class="fa fa-linkedin-square"><span class="label">LinkedIn</span></a>
                        </li>
                        <li>
                            <a class="fa fa-youtube-square"><span class="label">Youtube</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10">
                    <div class="col-md-10">
                        <div class="col-md-8 col-sm-8">
                            <ul class="copyright text-center">
                                <li>&copy; SilverZone Foundation. All rights reserved.</li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>