<style>
    .form-group .form-control1.has-error {
        border: 1px solid #dd4b39;
    }

    .form-control1[disabled], .form-control1[readonly] {
        background-color: #eee;
        opacity: 1;
        cursor: not-allowed;
    }
</style>

<div ng-include="'Templates/Common/Partial/userHeader.html'"></div>

<div class="sz_card">
    <div class="panel panel-info">

        <div class="panel-heading">
            Create Purchase Order

            <refresh:state></refresh:state>
        </div>

        {{ model }}

        <div class="row" style="margin-top: 16px; margin-bottom:10px;">
            <div class="col-md-12">

                <div class="form-group col-md-4">
                    <label class="control-label col-sm-12">Order Number </label>
                    <div class="col-sm-9">
                        <input type="text" name="name" class="form-control1"
                               disabled
                               ng-model="created_PO_list.PO_Number">
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <label class="control-label  col-sm-12">Order Date</label>
                    <div class="col-sm-9">
                        <input type="text" name="name" class="form-control1"
                               disabled
                               value="{{ created_PO_list.PO_Date | dateFormat: 'DD/MM/YYYY hh:mm a' }}">
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <sourc model="model.From"
                       clas-type="className"
                       disabl="isDisable">
                </sourc>

                <source_info model="model.srcFrom"
                             src-id="model.From"
                             clas-type="className"
                             disabl="isDisable">
                </source_info>
            </div>

            <div class="col-md-12">

                <sourc model="model.To"
                       clas-type="className"
                       show:label="True"
                       disabl="isDisable">
                </sourc>

                <source_info model="model.srcTo"
                             src-id="model.To"
                             clas-type="className"
                             disabl="isDisable">
                </source_info>
            </div>

  <div class="col-md-12">
                <remarks model="model"
                         clas-type="className"
                         disabl="isDisable">
                </remarks>
            </div>

        </div>

        <form name="create_inventorySourceForm"
              ng-submit="submit_data(create_inventorySourceForm)"
              ng-validate="validationOptions"
              novalidate="novalidate">

            <div class="panel-body">

                <collapse:div></collapse:div>

                <div class="row" style="border: 1px solid #ddd; padding: 20px; margin-bottom:10px;">

                    <div class="col-md-12">
                        <book:isbn model="model"
                                 clas-type="className">
                        </book:isbn>
                    </div>


                    <div class="col-md-12">
                        <book-Search model="model"
                                     clas="col-sm-4">
                        </book-Search>
                    </div>

                    <div class="col-md-12">

                        <quantity model="model"
                                  clas-type="className">
                        </quantity>

                        <rate ng-if="model.From === 7"
                              model="model"
                              clas-type="className">
                        </rate>

                    </div>

                </div>
            </div>

            <div class="panel-footer">
                <div class="row">
                    <button type="submit" class="btn btn-info pull-right">
                        {{ isEdit_record ? 'Update PO' : 'Add PO' }}
                    </button>
                </div>
            </div>
        </form>

    </div>

    <div ng-if="created_PO_list.PO_detail.length">

        <div class="col-md-12" style="margin-top: 16px; border-bottom: 1px solid #ddd; margin-bottom: 18px;">

            <div class="col-md-2">
                <label class="control-label">From: </label>
                <h4 ng-bind="created_PO_list.From"> </h4>
            </div>

            <div class="col-md-2">
                <label class="control-label">To: </label>
                <h4 ng-bind="created_PO_list.To"> </h4>
            </div>

            <div class="col-md-3">
                <label class="control-label">Source: </label>
                <h4 ng-bind="created_PO_list.Source"> </h4>
            </div>

            <div class="col-md-2">
                <label class="control-label">PO Number: </label>
                <h4 ng-bind="created_PO_list.PO_Number"> </h4>
            </div>

            <div class="col-md-3">
                <label class="control-label">Remarks: </label>
                <h4 ng-bind="created_PO_list.Remarks"> </h4>
            </div>
        </div>
  
              <table class="table table-striped responsive"
               wt-responsive-table>
            <thead>
                <tr>
                    <th>S.No.</th>
                    <th>Book</th>
                    <th>Quantity</th>
                    <th>Rate</th>
                    <th ng-if="model.From === 7 && model.To === 1">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="entity in created_PO_list.PO_detail">
                    <td>{{ $index+1 }}</td>
                    <td ng-bind="::entity.Book.bookName"></td>
                    <td ng-bind="::entity.Quantity"></td>
                    <td ng-if="model.From === 7 && model.To === 1" ng-bind="::entity.Rate"></td>
                    <td>
                        <action-icons entity="entity"
                                      on_update="EditData(entity)"
                                      on-delete="DeleteData(entity.Id)">
                        </action-icons>
                    </td>
                </tr>
            </tbody>
        </table>


        <print_list list="created_PO_list"
                       type="1">
        </print_list>        

    </div>

</div>