<!DOCTYPE html>
<html>
<head>
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/font-awesome.css" rel="stylesheet" />

    <style>
        .table > tbody > tr > td {
            padding-top: 0px !important;
        }

        .table > tbody > tr > th {
            padding: 3px !important;
        }

        p {
            margin: 0px !important;
            font-size: 12px !important;
        }

        .panel-heading {
            border-bottom: 1px solid #333 !important;
            padding-left: 6px !important;
        }
    </style>

</head>
<body>
    <div class="container-fluid" id="myId" style="padding: 0px !important;">
            
        </div>
</body>
</html>
