
<section id="work" class="col-sm-12">
    <div class="section-title">
        <h2 class="heading bold">Olympiads Scheduled for This Academic Year</h2>
        <hr>
    </div>
    <section class="regular slider slick-slider">
        <div style="border:1px solid #D1D1D1; height: 220px;">
            <a href="informatics_olympiad.html" target="_blank"><img style="padding:2px;" src="/Images/NewImages/events/IIO.jpg"></a>
            <div class="ecaption">
                <h3>Informatics Olympiad</h3>
                <p class="text-justify" style="padding:5px;">International Informatics Olympiad endeavours to assess ... <a class="btn btn-default" href="informatics_olympiad.html" target="_blank">View More...</a></p>
            </div>
        </div>
        <div style="border:1px solid #D1D1D1; height: 220px;">
            <a href="mathematics_olympiad.html" target="_blank"><img style="padding:2px;" src="/Images/NewImages/events/IOM.jpg"></a>
            <div class="ecaption">
                <h3>Mathematics Olympiad</h3>
                <p class="text-justify;font-size:12px;">The International Olympiad of Mathematics (iOM), a test of ... <a class="btn btn-default" href="mathematics_olympiad.html" target="_blank">View More...</a></p>
            </div>

        </div>
        <div style="border:1px solid #D1D1D1; height: 220px;">
            <a href="science_olympiad.html" target="_blank"><img style="padding:2px;" src="/Images/NewImages/events/IOS.jpg"></a>
            <div class="ecaption">
                <h3>Science Olympiad</h3>
                <p class="text-justify;font-size:12px;">The International Olympiad of Science, a test of competence... <a class="btn btn-default" href="science_olympiad.html" target="_blank">View More...</a></p>
            </div>

        </div>
        <div style="border:1px solid #D1D1D1; height: 220px;">
            <a href="english_olympiad.html" target="_blank"> <img style="padding:2px;" src="/Images/NewImages/events/IOEL.jpg"></a>
            <div class="ecaption">
                <h3>English Olympiad</h3>
                <p class="text-justify;font-size:12px;">The International Olympiad of English Language (iOEL), a test of ... <a class="btn btn-default" href="english_olympiad.html" target="_blank">View More...</a></p>
            </div>

        </div>
        <div style="border:1px solid #D1D1D1; height: 220px;">
            <a href="french_olympiad.html" target="_blank"><img style="padding:2px;" src="/Images/NewImages/events/IFLO.jpg"></a>
            <div class="ecaption">
                <h3>French Olympiad</h3>
                <p class="text-justify;font-size:12px;">French is the second most widely taught language in the world after ... <a class="btn btn-default" href="french_olympiad.html" target="_blank">View More...</a></p>
            </div>

        </div>
        <div style="border:1px solid #D1D1D1; height: 220px;">
            <a href="hindi_olympiad.html" target="_blank"><img style="padding:2px;" src="/Images/NewImages/events/ABHO.jpg"></a>
            <div class="ecaption">
                <h3>Hindi Olympiad</h3>
                <p class="text-justify;font-size:12px;">सिल्वरज़ोन फाउंडेशन एक शैक्षणिक, गैर लाभकारी और गैर सरकारी संस्था है। यह ... <a class="btn btn-default" href="hindi_olympiad.html" target="_blank">View More...</a></p>
            </div>

        </div>
        <div style="border:1px solid #D1D1D1; height: 220px;">
            <a href="events/gk_olympiad.html" target="_blank"><img style="padding:2px;" src="/Images/NewImages/events/SKGKO.jpg"></a>
            <div class="ecaption">
                <h3>GK Olympiad</h3>
                <p class="text-justify;font-size:12px;">The Smart Kid General Knowledge Olympiad, a test of competence... <a class="btn btn-default" href="gk_olympiad.html" target="_blank">View More...</a></p>
            </div>

        </div>
        <div style="border:1px solid #D1D1D1; height: 220px;">
            <a href="talenthunt_olympiad.html" target="_blank"><img style="padding:2px;" src="/Images/NewImages/events/ITHO.jpg"></a>
            <div class="ecaption">
                <h3>Talent Hunt</h3>
                <p class="text-justify;font-size:12px;">The International Talent Hunt Olympiad, a test of competence... <a class="btn btn-default" href="talenthunt_olympiad.html" target="_blank">View More...</a></p>
            </div>

        </div>
        <div style="border:1px solid #D1D1D1; height: 220px;">
            <a href="socialstudies_olympiad.html" target="_blank"><img style="padding:2px;" src="/Images/NewImages/events/ISSO.jpg"></a>
            <div class="ecaption">
                <h3>Social Studies</h3>
                <p class="text-justify;font-size:12px;">The International Social Studies Olympiad, a test of competence... <a class="btn btn-default" href="socialstudies_olympiad.html" target="_blank">View More...</a></p>
            </div>

        </div>
        <div style="border:1px solid #D1D1D1; height: 220px;">
            <a href="reasoning_olympiad.html" target="_blank"><img style="padding:2px;" src="/Images/NewImages/events/IRAO.jpg"></a>
            <div class="ecaption">
                <h3>Reasoning &amp; Aptitude</h3>
                <p class="text-justify;font-size:12px;">The International Reasoning And Aptitude Olympiad... <a class="btn btn-default" href="socialstudies_olympiad.html" target="_blank">View More...</a></p>
            </div>

        </div>
    </section>
</section>

<!-- portfolio section -->
<section id="portfolio" class="col-sm-12" style="background-color: #fff !important;">
    <div class="section-title">

        <h1 class="heading bold">Updates</h1>
        <hr>
    </div>
    <!-- ISO section -->
    <div class="iso-section text-left" style=" display: block;
         margin: auto;
         width: 90%;">

        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
            <li class="active"><a href="#red" data-toggle="tab">What's New</a></li>
            <li><a href="#orange" data-toggle="tab">Olympiad Dates</a></li>
            <li><a href="#yellow" data-toggle="tab">Media Coverage</a></li>
            <li><a href="#green" data-toggle="tab">Prizes</a></li>
            <li><a href="#blue" data-toggle="tab">Top Achiever</a></li>
        </ul>
        <div id="my-tab-content" class="tab-content">
            <div class="tab-pane active" id="red">
                <h1>News &amp; Updates</h1>
                <marquee>
                    <p>red red red red red red</p>
                </marquee>
            </div>
            <div class="tab-pane" id="orange">

                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">Olympiad Dates</div>
                        </div>
                        <div class="panel-body">

                            <table class="table table-hover ">

                                <thead>

                                    <tr class="text-center">

                                        <th>Sr. No.</th>
                                        <th>Olympiad</th>
                                        <th colspan="2">Olympiad Dates(Opt any One)</th>



                                        <th>Last Date of Registration</th>

                                    </tr>

                                </thead>

                                <tbody>

                                    <tr>

                                        <td>1</td>
                                        <td>International Informatics Olympiad</td>
                                        <td>03rd November, 2016</td>

                                        <td>02nd December,2016</td>

                                        <td>30 days prior to olympiad dates</td>

                                    </tr>

                                    <tr>

                                        <td>2</td>
                                        <td>International Olympiad of Science</td>
                                        <td>18th November,2016</td>

                                        <td>08th December,2016</td>

                                        <td>30 days prior to olympiad dates</td>

                                    </tr>

                                    <tr>

                                        <td>3</td>
                                        <td>International Olympiad of Mathematics</td>
                                        <td>16th November,2016</td>
                                        <td>06th December,2016</td>
                                        <td>30 days prior to olympiad dates</td>

                                    </tr>
                                    <tr>

                                        <td>4</td>
                                        <td>International Olympiad of English Language</td>
                                        <td>22nd November,2016</td>

                                        <td>12th December,2016</td>

                                        <td>30 days prior to olympiad dates</td>

                                    </tr>
                                    <tr>

                                        <td>5</td>
                                        <td>Smart Kid GK Olympiad</td>
                                        <td>14th December,2016</td>

                                        <td>17th January,2017</td>

                                        <td>30 days prior to olympiad dates</td>

                                    </tr>
                                    <tr>

                                        <td>6</td>
                                        <td>International French Language Olympiad</td>
                                        <td>15th December,2016</td>

                                        <td>20th January,2017</td>

                                        <td>30 days prior to olympiad dates</td>

                                    </tr>
                                    <tr>

                                        <td>7</td>
                                        <td>International Talent Hunt Olympiad</td>
                                        <td>16th December,2016</td>

                                        <td>12th January,2017</td>

                                        <td>30 days prior to olympiad dates</td>

                                    </tr>
                                    <tr>

                                        <td>8</td>
                                        <td>Akhil Bhartiya Hindi Olympiad</td>
                                        <td>20th December,2016</td>

                                        <td>10th January,2017</td>

                                        <td>30 days prior to olympiad dates</td>

                                    </tr>
                                    <tr>

                                        <td>9</td>
                                        <td>International Social Studies Olympiad</td>
                                        <td>09th December,2016</td>

                                        <td>27th January,2017</td>

                                        <td>30 days prior to olympiad dates</td>

                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="yellow">
                <h1>Media Coverage</h1>
                <p>yellow yellow yellow yellow yellow</p>
            </div>
            <div class="tab-pane" id="green">
                <h1>Our Prizes</h1>
                <p>green green green green green</p>
            </div>
            <div class="tab-pane" id="blue">
                <h1>Top Achiever</h1>
                <p>blue blue blue blue blue</p>
            </div>

        </div>
    </div>
</section>

<!-- team section -->
<section id="team" class="col-sm-12" style="background-color: #fff !important;">
    <div class="section-title">

        <h1 class="heading bold">Mobile App::Silverzone Olympiad Tutor</h1>
        <hr>
    </div>
    <div class="col-md-5" data-wow-delay="0.9s">

        <img src="/Images/NewImages/MobileAppBig.jpg" class="img-responsive" alt="" /><br />


    </div>
    <div class="col-md-7" style="vertical-align:top" data-wow-delay="0.9s">
        <h3 class="text-left">Mobile App Features</h3>
        <p>
            <ul class="fa-ul">
                <li style="padding:5px;text-align:left;"><i class="fa-li fa fa-arrow-circle-o-right fa-2x"></i>Download the "Free App" on your device </li>
                <li style="padding:5px;text-align:left;"><i class="fa-li fa fa-arrow-circle-o-right fa-2x"></i>Download Previous Year's Question paper (With answers) </li>
                <li style="padding:5px;text-align:left;"><i class="fa-li fa fa-arrow-circle-o-right fa-2x"></i>Choose your Class and subject : Take test on Previous Year's Question Papers </li>
                <li style="padding:5px;text-align:left;"><i class="fa-li fa fa-arrow-circle-o-right fa-2x"></i>Choose your Class and subject : Take Free Sample Practice Tests</li>
                <li style="padding:5px;text-align:left;"><i class="fa-li fa fa-arrow-circle-o-right fa-2x"></i>Analyze Your Result : Improve Yourself </li>
                <li style="padding:5px;text-align:left;;"><i class="fa-li fa fa-arrow-circle-o-right fa-2x"></i>More Mock Test near Olympiad dates</li>
            </ul>
        </p>
        <div class="col-md-4">
            <h3>To  Download Android App:</h3>
            <img src="/Images/NewImages/googleplay.png" style="width:120px;height:40px;" class="img-responsive" alt="" />
        </div>
        <div class="col-md-4">
            <h3>To  Download iOS App:</h3>
            <img src="/Images/NewImages/app_store.png" style="width:120px;height:40px;" class="img-responsive" alt="" />
        </div>
        <div class="clearfix"></div>
    </div><br />
</section>

<!-- pricing section -->
<section id="pricing" class="col-sm-12">
    <div class="section-title">

        <h1 class="heading bold">Past Year Question Paper in PDF Format</h1>
        <hr>
    </div>
    <div class="col-md-7" data-wow-delay="0.3s">
        <img src="/Images/NewImages/InstantDownload_Main.jpg" class="img-responsive" style="width:100%" alt="" />
    </div>
    <div class="col-md-5" data-wow-delay="0.3s">
        <p class="text-left">
            Past Year Question Papers are available in PDF format for instant download. Each paper is available for download @@Rs 55/-. This will help the aspirants to assess the pattern of the real examination paper, practice and prepare for cracking the top ranks.
        </p>
        <div class="text-left">
            To Buy computer, math, Science and English	<a href="#" class="btn btn-warning">Click Here</a>
        </div><br />
        <div class="text-left">
            To Buy Hindi, GK, ITHO, IFLO and ISSO <a href="#" class="btn btn-warning">Click Here</a>
        </div>
        <br />
    </div>
</section>

<!-- Excellence Guide section -->
<section id="guide" class="col-sm-12" style="background-color: #fff !important;">
    <div class="section-title">

        <h1 class="heading bold">R&A : Official Book for SilverZone Olympiads.</h1>
        <hr>
    </div>
    <div class="col-md-6">
        <div><img src="/Images/NewImages/ReasoningBig.png" class="img-responsive" style="padding:5px;" alt="" /></div>
    </div>
    <div class="col-md-6">
        <p>
            <ul class="fa-ul">
                <li style="padding:5px;text-align:left;"><i class="fa-li fa fa-arrow-circle-o-right fa-2x"></i>Improves generic & higher order thinking skills of a student.</li>
                <li style="padding:5px;text-align:left;"><i class="fa-li fa fa-arrow-circle-o-right fa-2x"></i>Develops creative thinking, critical thinking & problem solving skills.</li>
                <li style="padding:5px;text-align:left;"><i class="fa-li fa fa-arrow-circle-o-right fa-2x"></i>Improves the skills of 'Decision Making' and 'Communication capabilities'.</li>
                <li style="padding:5px;text-align:left;"><i class="fa-li fa fa-arrow-circle-o-right fa-2x"></i>Ensure success not only on professional or career counts, but also on social parameters.</li>

            </ul>
        </p>
        <div class="text-left">To Order Reasoning &amp; Aptitude Guide <a href="#" class="btn btn-primary">Click here</a></div>
    </div>
</section>

<!-- portfolio section -->
<section id="pre" class="col-sm-12">
    <div class="section-title">

        <h1 class="heading bold">Previous Year Question Paper Order Online</h1>
        <hr>
    </div>
    <div class="col-md-7">
        <img src="/Images/NewImages/PreYear.jpg" class="img-responsive" style="width:100%" alt="" />
    </div>
    <div class="col-md-5">
        <p>
            <ul class="fa-ul">
                <li style="padding:5px;text-align:left;"><i class="fa-li fa fa-arrow-circle-o-right fa-2x"></i>Previous years' Question Papers - 2011, 2012, 2013, 2014 and 2015.</li>
                <li style="padding:5px;text-align:left;"><i class="fa-li fa fa-arrow-circle-o-right fa-2x"></i>Recommended for all National/International Olympiads.</li>
                <li style="padding:5px;text-align:left;"><i class="fa-li fa fa-arrow-circle-o-right fa-2x"></i>Contains 14 to 15 Sets in each Books.</li>
                <li style="padding:5px;text-align:left;"><i class="fa-li fa fa-arrow-circle-o-right fa-2x"></i>Answers of all the papers.</li>
                <li style="padding:5px;text-align:left;"><i class="fa-li fa fa-arrow-circle-o-right fa-2x"></i>Sample OMR sheet for practice.</li>

            </ul>
        </p>
        <div class="text-left">
            To Buy Previous Year Question Paper&nbsp;<a href="#" class="btn btn-warning">Click Here</a>
        </div>
        <br />
    </div>
</section>

<!-- portfolio section -->
<section id="why" class="col-sm-12" style="background-color: #fff !important;">
    <div class="section-title">
        <h1 class="heading bold">Why Silverzone</h1>
        <hr>
    </div>
    <!-- ISO section -->
    <div class="col-md-12 col-sm-12">
        <p>
            <ul class="fa-ul">
                <li style="padding:5px;text-align:left;"><i class="fa-li fa fa-arrow-circle-o-right fa-2x"></i>International Platform to prove your mettle.</li>
                <li style="padding:5px;text-align:left;"><i class="fa-li fa fa-arrow-circle-o-right fa-2x"></i>More than 700 reputed schools have registered as our city centre from India and abroad.</li>
                <li style="padding:5px;text-align:left;"><i class="fa-li fa fa-arrow-circle-o-right fa-2x"></i>Over 9000 schools from India and abroad are registered with us and has; conducted our Olympiads in school.</li>
                <li style="padding:5px;text-align:left;"><i class="fa-li fa fa-arrow-circle-o-right fa-2x"></i>Schools from over 14 countries from abroad conduct our Olympiads in their esteemed schools on a regular basis.</li>

            </ul>
        </p>
        <div class="text-left"> <a href="#" class="btn btn-primary">Read More...</a></div>
        <div class="clearfix"></div>
        <br />
    </div>
</section>

<!-- work section -->
<section id="work" class="col-sm-12">
    <h2 class="text-center">Photo Gallery</h2><hr />
    <section class="regular slider slick-slider">
        <div style="border:1px solid #dedede; height: 190px;">
            <img src="/Images/NewImages/events/IIO.jpg" style="padding:2px;">
            <div class="ecaption" style="height:30px;">
                <h3>HongKong Trip 2014</h3>
                <a class="btn" href="#" style="float:right;">View More...</a></p>
            </div>
        </div>
        <div style="border:1px solid #dedede; height: 190px;">
            <img src="/Images/NewImages/events/IOM.jpg" style="padding:2px;">
            <div class="ecaption" style="height:30px;">
                <h3>3rd Level Ceremony 2013</h3>
                <a class="btn" href="#" style="float:right;">View More...</a>
            </div>

        </div>
        <div style="border:1px solid #dedede; height: 190px;">
            <img src="/Images/NewImages/events/IOS.jpg" style="padding:2px;">
            <div class="ecaption" style="height:30px;">
                <h3>Hongkong Tour 2015</h3>
                <a class="btn" href="#" style="float:right;">View More...</a>
            </div>

        </div>
        <div style="border:1px solid #dedede; height: 190px;">
            <img src="/Images/NewImages/events/IOEL.jpg" style="padding:2px;">
            <div class="ecaption" style="height:30px;">
                <h3>UK Tour 2014</h3>
                <a class="btn" href="#" style="float:right;">View More...</a>
            </div>

        </div>

    </section>
</section>

