<div class="sz_section">
    <strong> CoOrdinating Teacher's Name :-</strong>
    <span class="pull-right">
        <a href="#"
           ng-if="SchMngt.Events.CoOrdinatingTeacher.length!=0"
           style="text-decoration:none;color:white;"
           ng-click="Add_CoOrdinating_Teacher()">
            <i class="fa fa-pencil"></i>
        </a>
        <a href="#"
           ng-if="SchMngt.Events.CoOrdinatingTeacher.length==0"
           style="text-decoration:none;color:white;"
           ng-click="Add_CoOrdinating_Teacher()">
            <i class="fa fa-plus"></i>
        </a>
    </span>
    
</div>
<div class="col-md-12">
    <table class="table table-striped responsive" wt-responsive-table>
        <thead>
            <tr>
                <th>S.No.</th>
                <th>Teacher's Name</th>
                <th>Mobile No.</th>
                <th>Alt Mobile No.</th>
                <th>Email-ID</th>
                <th>Alt Email-ID</th>
                <th>No of Selected Question</th>             
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="data in SchMngt.Events.CoOrdinatingTeacher">
                <td>{{$index+1}}</td>
                <td>{{data.Title=='N/A'?'':data.Title+' '}}{{data.Name}}</td>
                <td>{{data.MobileNo}}</td>
                <td>
                    {{data.AltMobileNo1}}
                    {{data.AltMobileNo1==null || data.AltMobileNo2==null?'':','}}
                    <br ng-if="data.AltMobileNo1!=null && data.AltMobileNo2!=null?true:false" />
                    {{data.AltMobileNo2}}
                </td>
                <td>{{data.EmailID}}</td>
                <td>
                    {{data.AltEmailID1}}
                    {{data.AltEmailID1==null || data.AltEmailID2==null?'':','}}
                    <br ng-if="data.AltEmailID1!=null && data.AltEmailID2!=null?true:false" />
                    {{data.AltEmailID2}}
                </td>
                <td>{{data.No_Of_Selected_Ques}}</td>            
            </tr>
        </tbody>
    </table>
</div>