<ul type="circle">
    <li>
        <strong class="sz_fr_danger">For School In India :-</strong>A participation <strong class="sz_fr_danger">Fee @Rs. 120/-</strong>per participant shall be collected by the school.
        <strong class="sz_fr_danger">
            The shool can retain @Rs.20/-
        </strong>
        per participant as its expenses towards honorarium of the invigilator(s) and other miscellaneouses like postal expenses. DD charges and photocopying etc.
    </li>
    <li>
        <strong class="sz_fr_danger">
            For School outside India :-
        </strong>
        A participation <strong class="sz_fr_danger">Fee @USD $8 </strong>per participant shall be collected by the school.
        <strong class="sz_fr_danger"> The school can retain @USD $2</strong> per participant as its expenses towrds honorarium of the invigilator(s) and other miscelleneous expenses.
    </li>
    <li>
        <p>
            <strong class="sz_fr_danger">payment Option A :</strong> Direct Transfer
            <md-checkbox style="min-height:0 !important;margin-bottom:0 !important;">please <input type="checkbox" readonly checked="true" /> Tick (if opted)</md-checkbox>
            <br /><strong> A/c Name :</strong><strong class="sz_fr_danger">COMPUTER LITERACY FOUNDATION</strong>,
            <strong>A/c No. </strong>913010028463931, <strong>Bank Name :</strong> AXIS Bank, <strong>Branch :Safdarjung Enclave</strong>,
            New Delhi. <strong>Swift Code:</strong> AXISINBB015. <strong>IFSC</strong> :UTIB0001358.
            <br />The payment for Registration Fee has been deposited/transfered to
            <br /><strong class="sz_fr_danger">COMPUTER LITERACY FOUNDATION</strong> for amount od Rs./USD$
            <input type="text" style="width:100px;" /> Dated <input type="datetime" placeholder="DD/MM/YYYY" style="width:100px;" />
        </p>
    </li>
    <li>
        <strong>Payment Option B : </strong>Demand Draft
        <md-checkbox style="min-height:0 !important;margin-bottom:0 !important;">please <input type="checkbox" readonly checked="true" /> Tick (if opted)</md-checkbox>
        <br />Enclosed please find Demand Draft for Registration Fee in favour of
        <strong class="sz_fr_danger">COMPUTER LITERACY FOUNDATION</strong>
        <br />payable at <strong class="sz_fr_danger">New DELHI, INDIA</strong>
        for the amount of Rs./USD$ <input type="text" style="width:100px;" />
        DD Number <input type="text" style="width:100px;" />
        DD Date <input type="datetime" placeholder="DD/MM/YYYY" style="width:100px;" />
    </li>
</ul>