<div class="col-md-12 text-center">
    <div class="sz_section">
        <strong>{{SchMngt.SchName}}</strong>
        <span class="pull-right">
            <a href="#"
               style="text-decoration:none;color:white;"
               ng-click="Edit_School()">
                <i class="fa fa-pencil"></i>
            </a>
        </span>
    </div>
</div>

<div class="col-md-12">
    <div class="col-md-7">
        <div class="col-md-4">
            <strong>School Code</strong>
            <span class="pull-right">:</span>
        </div>
        <div class="col-md-8">
            {{SchMngt.SchCode}}
        </div>
    </div>
    <div class="col-md-5">
        <div class="col-md-5">
            <strong><i class="fa fa-envelope"></i> Email</strong>
            <span class="pull-right">:</span>
        </div>
        <div class="col-md-7">
            {{SchMngt.SchEmail}}
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="col-md-7">
        <div class="col-md-4">
            <strong>Address</strong>
            <span class="pull-right">:</span>
        </div>
        <div class="col-md-8">
            {{SchMngt.SchAddress}},
            <br />
            {{SchMngt.CityName}}, {{SchMngt.DistrictName}},
            <br />
            {{SchMngt.StateName}}, {{SchMngt.ZoneName}},
            <br />
            {{SchMngt.CountryName}} - {{SchMngt.SchPinCode}},          
        </div>
    </div>
    <div class="col-md-5">
        <div class="col-md-5">
            <strong>Reg. No.</strong>
            <span class="pull-right">:</span>
        </div>
        <div class="col-md-7">
            <span ng-bind="SchMngt.Events.RegNo" class="form-control"></span>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="col-md-7">
        <div class="col-md-4">
            <strong>Phone No.</strong>
            <span class="pull-right">:</span>
        </div>
        <div class="col-md-8">
            {{SchMngt.SchPhoneNo}}
        </div>
    </div>
    <div class="col-md-5">
        <div class="col-md-5">
            <strong>Fax No.</strong>
            <span class="pull-right">:</span>
        </div>
        <div class="col-md-7">
            {{SchMngt.SchFaxNo}}
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="col-md-7">
        <div class="col-md-4">
            <strong>Head Master/Mistress.</strong>
            <span class="pull-right">:</span>
        </div>
        <div class="col-md-8">
            {{SchMngt.HeadMaster.Name}}
        </div>
    </div>
    <div class="col-md-5">
        <div class="col-md-5">
            <strong>Principal name</strong>
            <span class="pull-right">:</span>
        </div>
        <div class="col-md-7">
            {{SchMngt.Principal.Name}}
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="col-md-7">
        <div class="col-md-4">
            <strong>External. Examination Incharge Name</strong>
            <span class="pull-right">:</span>
        </div>
        <div class="col-md-8">
            {{SchMngt.ExternalIncharge.Name}}
        </div>
    </div>
    <div class="col-md-5">
        <div class="col-md-5">
            <strong>External. Examination Incharge Mobile</strong>
            <span class="pull-right">:</span>
        </div>
        <div class="col-md-7">
            {{SchMngt.ExternalIncharge.ContactMobile}}
            {{SchMngt.ExternalIncharge.ContactAltMobile1==null?'':','}}
            {{SchMngt.ExternalIncharge.ContactAltMobile1}}
            {{SchMngt.ExternalIncharge.ContactAltMobile2==null?'':','}}
            {{SchMngt.ExternalIncharge.ContactAltMobile1}}
        </div>
    </div>
</div>