
<section class="content">
    <div class="row">

        <div class="col-md-offset-1 col-md-10" id="stepForm">
            
            <form role="form" method="post" class="f1">
                <span class="text-center"> <h3>Create Book</h3> </span>
                
                <!-- Use 3stepStyle tyle for this page -->
                <div class="f1-steps">
                    <div class="f1-progress">
                        <div class="f1-progress-line"
                             ng-style="(step === 1 && { 'width': '20%' })
                                    || (step === 2 && { 'width': '55%' })
                                    || (step === 3 && { 'width': '100%'})">
                        </div>
                    </div>
                    <div class="f1-step" ng-class="step === 1 ? 'active' : 'activated'">
                        <div class="f1-step-icon"> 1 </div>
                        <p>Book</p>
                    </div>
                    <div class="f1-step" ng-class="step === 2 ? 'active' : 'activated'">
                        <div class="f1-step-icon"> 2 </div>
                        <p>Book Detail</p>
                    </div>
                    <div class="f1-step" ng-class="step === 3 ? 'active' : 'activated'">
                        <div class="f1-step-icon"> 3 </div>
                        <p>Book Content</p>
                    </div>
                </div>
                
                <!--<h4>val is {{ step }}</h4>-->
                <br />

                <fieldset ng-style="step === 1 ? { 'display': 'block'} : { 'display': 'none'}">

                    <div class="form-group col-sm-12">
                        <div class="col-sm-6" style="margin-top: -20px;">
                            <img class="img-responsive" style="width:150px;height:190px;border:1px solid #ddd" ng-src="{{ bookModel.bookInfo.bookImage || '/Images/No-Photo-Available.jpg' }}">
                            <a title="Change Profile Picture" style="cursor: pointer;position: relative;top: -32px;color: #000; margin-left: 67px;" class="fa fa-camera" onclick="$('#img_dialog').click();"></a>
                            <input id="img_dialog" type="file" onchange="angular.element(this).scope().uploadImage(this)" style="display:none;">
                        </div>
                        <div class="col-sm-6" style="margin-top: 6px;">
                            
                            <select class="form-control form-group col-md-12" ng-model="bookModel.bookInfo.subjectId"
                                    ng-options="::subject.subjectId as ::subject.subjectName for subject in subjectList"
                                    ng-change="bookModel.bookInfo.subjectId && get_class(bookModel.bookInfo.subjectId)">

                                <option value=""> ---- Select Subject ---- </option>
                            </select>

                            <select class="form-control form-group col-md-12" ng-model="bookModel.bookInfo.classId"
                                    ng-options="::class.classId as ::class.className for class in classList">
                                
                                <option value=""> ---- Select Class ---- </option>
                            </select>

                            <select class="form-control form-group col-md-12" ng-model="bookModel.bookInfo.bookCategoryId"
                                    ng-options="::category.id as ::category.name for category in book_categorys">

                                <option value=""> ---- Select Book Category ---- </option>
                            </select>

                        </div>
                    </div>

                    <div class="form-group col-sm-12">
                            <div class="col-sm-4">
                                <input type="text" placeholder="Book Titile" class="form-control" ng-model="bookModel.bookInfo.bookTitle">
                            </div>
                            <div class="col-sm-4">
                                <input type="text" placeholder="ISBN" class="form-control" ng-model="bookModel.bookInfo.bookISBN">
                            </div>
                            <div class="col-sm-4">
                                <select class="form-control form-group col-md-12" ng-model="bookModel.bookInfo.publisher"
                                        ng-options="::publisher for publisher in book_publisherList">

                                    <option value=""> ---- Select Book Pusblisher ---- </option>
                                </select>
                            </div>
                        </div>

                    <div class="form-group col-sm-12">
                        <div class="col-sm-4">
                            <input type="text" placeholder="Book Page" class="form-control" ng-model="bookModel.bookInfo.bookPage">
                        </div>
                        <div class="col-sm-4">
                            <input type="text" placeholder="Book Wheight" class="form-control" ng-model="bookModel.bookInfo.bookWheight">
                        </div>
                        <div class="col-sm-4">
                            <input type="text" placeholder="Book Price" class="form-control" ng-model="bookModel.bookInfo.bookPrice">
                        </div>
                    </div> 
                                       
                </fieldset>

                <fieldset ng-style="step === 2 ? { 'display': 'block'} : { 'display': 'none'}">
                    <div class="form-group col-sm-12">
                        <textarea placeholder="Enter Book Description" ng-model="bookModel.bookDetail.bookDescription"
                         class="form-control" rows="5"></textarea>
                    </div>
                </fieldset>

                <fieldset ng-style="step === 3 ? { 'display': 'block'} : { 'display': 'none'}" id="book_ContentDv">
                   
                     <div class="row" style="margin-top: -20px; margin-bottom: 30px; margin-left: 10px;">
                        
                         <button class="btn btn-warning" add-Book:Content_Html>
                            <i class="fa fa-plus" style="margin-right: 5px;"></i> 
                            Add Content
                        </button>
                    </div>
                       
                     <div class="form-group col-sm-12">
                            <div class="col-sm-4">
                                <input type="text" placeholder="Book Content Name" class="form-control bookContent_name">
                            </div>
                            <div class="col-sm-8">
                                <textarea placeholder="Enter Book Content Description" class="form-control bookContent_description" rows="2"></textarea>
                            </div>
                        </div>
                </fieldset>

                <div class="row" style="margin-top: 27px;">
                    <button type="button" class="btn btn-previous" 
                            ng-click="step = step - 1" 
                            ng-hide="step === 1">Previous</button>

                    <button type="{{ step === 3 ? 'submit' : 'button' }}" class="btn btn-info pull-right" 
                            ng-click="step === 3 ? submitForm() : step = step + 1">
                        {{ step === 3 ? 'Submit' : 'Next' }}
                    </button>
                </div>

            </form>

        </div>
    </div>
</section>

