<form name="frm" ng-submit="frm.$valid && Submit()">
    <div class="header-section">
        <div class="menu-right">
            <div class="user-panel-top">
                <div class="col-lg-12">
                    <div class="col-md-3">
                        <a ng-show="isEdit" href="#" style="text-decoration:none" class="fa fa-arrow-left" ng-click="Back()"></a>
                        <strong>Event</strong>
                    </div>
                    <div class="col-md-4">
                        <span class="pull-right">
                            <button class="btn btn-default" ng-show="isEdit" type="submit">
                                <i class="fa fa-saved"></i>
                                <strong>{{Event.Id==undefined?'Save':'Update'}}</strong>
                            </button>
                            <button class="btn btn-default" ng-click="Active_Deactive()" ng-if="Changed" type="button">
                                <i class="fa fa-saved"></i>
                                <strong>Save Change</strong>
                            </button>


                            <select ng-hide="isEdit" style="color:black;" ng-model="selectedIndex" ng-change="SelectedIndexChanged(selectedIndex)">
                                <option value="0">All</option>
                                <option value="1">Active</option>
                                <option value="2">Deactive</option>
                            </select>
                            <a ng-if="Permission.Add" ng-hide="isEdit" href="#" style="text-decoration:none;" ng-click="Add()"><i class="fa fa-plus"></i></a>
                        </span>
                    </div>
                    <div class="profile_details col-md-3" ng-include="'Templates/Common/Partial/PrfileMenu.html'"></div>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="sz_card">
        <div class="row">
            <!--Start Create Section-->
            <div ng-show="isEdit">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group col-md-6">
                            <label>Event Name:</label>
                            <input type="text"
                                   name="EventName"
                                   ng-model="Event.EventName"
                                   maxlength="100"
                                   class="form-control"
                                   required
                                   autofocus>
                            <span ng-if="frm.EventName.$invalid && frm.EventName.$dirty && !frm.EventName.$pristine" class="error">
                                Event Name is required.
                            </span>
                        </div>
                        <div class="form-group col-md-2">
                            <label>Event Code:</label>
                            <input type="text"
                                   name="EventCode"
                                   ng-model="Event.EventCode"
                                   maxlength="100"
                                   class="form-control"
                                   required
                                   autofocus>
                            <span ng-if="frm.EventCode.$invalid && frm.EventCode.$dirty && !frm.EventCode.$pristine" class="error">
                                Event Code is required.
                            </span>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Subject Name:</label>
                            <input type="text"
                                   name="SubjectName"
                                   ng-model="Event.SubjectName"
                                   maxlength="100"
                                   class="form-control"
                                   required
                                   autofocus>
                            <span ng-if="frm.SubjectName.$invalid && frm.SubjectName.$dirty && !frm.SubjectName.$pristine" class="error">
                                Subject Name is required.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Create Section-->
            <!--Start List Section-->
            <div ng-hide="isEdit">
                <div class="col-md-12">
                    <table class="table table-striped responsive" wt-responsive-table>
                        <thead>
                            <tr>
                                <th>S.No.</th>
                                <th>Event Name</th>
                                <th>Subject</th>
                                <th>Event Code</th>
                                <th ng-if="Permission.Edit">Edit</th>
                                <th ng-if="Permission.Edit">IsActive</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in EventList">
                                <td>{{$index+1}}</td>
                                <td>{{data.EventName}}</td>
                                <td>{{data.SubjectName}}</td>
                                <td>{{data.EventCode}}</td>
                                <td ng-if="Permission.Edit">
                                    <a href="#" ng-click="Edit(data)"> <i class="fa fa-pencil"></i></a>
                                </td>
                                <td ng-if="Permission.Edit">
                                    <input type="checkbox" ng-model="data.Status" ng-change="IsActive(data.Id)" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--End List Section-->
        </div>
    </div>    
</form>