

<form name="frm" ng-submit="frm.$valid && Submit('country')">
    <!--Start Create Section-->
    <div class="panel panel-default" ng-hide="isAdd_Country">
        <div class="panel-heading">
            <a href="#" style="text-decoration:none" class="fa fa-arrow-left" ng-click="Back('country')"></a>
            <span><strong style="color:#317eac;">Create</strong></span>
            <button class="pull-right btn btn-default" style="margin-top:-8px;margin-right:-13px;" type="submit"><i class="fa fa-saved"></i><strong>{{Country.Id==undefined?'Save':'Update'}}</strong></button>
            <!--<a href="#" class="pull-right" style="text-decoration:none;" ng-click="Add()"><i class="fa fa-saved"></i><strong>{{Country.Id==undefined?'Save':'Update'}}</strong></a>-->
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="form-group col-md-12">
                        <label class="control-label col-sm-3">Name:</label>
                        <div class="col-sm-9">
                            <input type="text"
                                   name="CountryName"
                                   ng-model="Country.CountryName"
                                   maxlength="100"
                                   class="form-control"
                                   required
                                   autofocus>
                            <span ng-if="frm.CountryName.$invalid && frm.CountryName.$dirty && !frm.CountryName.$pristine"
                                  class="error">
                                Country Name is required.
                            </span>
                        </div>
                    </div>                    
                </div>               
            </div>
        </div>
    </div>
    <!--End Create Section-->

    <!--Start List Section-->

    <div class="panel panel-default" ng-if="isAdd_Country">
        <div class="panel-heading">
            <span><strong style="color:#317eac;">No. of Country ({{CountryList.length}})</strong></span>
            <a href="#" class="pull-right" style="text-decoration:none;" ng-click="Add('country')"><i class="fa fa-plus"></i></a>
        </div>
        <div class="panel-body">
            <!--Start Country Section -->
            <div class="panel-group" id="accordion">
                <div class="panel panel-default" ng-repeat="countryObj in  CountryList">
                    <div class="panel-heading">
                        <span style="color:#317eac;">
                            <strong>{{countryObj.CountryName}}</strong>
                            <i class="pull-right">
                                <a href="#" style="text-decoration:none;" ng-click="Edit(countryObj,null,null,null,null,'country')"><i class="fa fa-pencil"></i></a>
                                <a href="#" class="pull-right" style="text-decoration:none;" ng-click="Remove()"><i class="fa fa-remove"></i></a>
                            </i>
                        </span>
                    </div>
                </div>
            </div>
            <!--End Country Section -->
        </div>
    </div>
    <!--End List Section-->
</form>

