<style>
    label {
        padding: 3px 0px;
    }

    .myclass {
        position: absolute;
        right: 38px;
        margin-top: -22px;
        cursor: pointer;
    }

    #inventoryBox {
        border: 1px solid #ddd;
        padding: 15px;
    }

    .form-control1[disabled], .form-control1[readonly] {
        background-color: #eee;
        opacity: 1;
        cursor: not-allowed;
    }

    .divHover {
        border: 1px solid #ddd;
        height: auto;
        min-height: 100px;
        cursor: pointer;
        margin: 20px;
    }

        .divHover:hover {
            border: 1px solid #ea9e9e;
        }
</style>

<div ng-include="'Templates/Common/Partial/userHeader.html'"></div>

<div class="sz_card">
    {{ model }}
    <form name="create_inventoryForm"
          ng-validate="validationOptions">

        <div class="panel panel-info">

            <div class="panel-heading">
                Counter Sale

                <refresh:state></refresh:state>
            </div>

            <div class="row" style="padding-left: 22px;">

                <div class="form-group col-sm-3">
                    <label class="control-label">PO Number</label>
                    <input type="text" class="form-control1"
                           ng-model="model.poNo"
                           only:numbers>
                </div>

                <div class="form-group col-sm-3" style="margin-top: 25px;">
                    <button type="button" class="btn btn-primary btn-sm"
                            ng-disabled="!model.poNo"
                            ng-click="model.poNo && searchPO()">
                        <i class="fa fa-search"></i>
                        Search
                    </button>
                </div>

            </div>

            <div class="row" style="padding-left: 22px;">

                <challan:info model="model"
                              disabl="disableChallan">
                </challan:info>

            </div>


        </div>

        <h3>
            List of Inventory
        </h3>

        <div id="PO_details">

            <div ng-if="!poInfo"
                 class="text-success">
                <h3> Great, there is no pending purchase order found here :) </h3>
            </div>
          
            <!--  for Outward Stock -->
            <table-outward ng-if="model.InventoryType === 2 && poInfo.length"
                           po-info="poInfo"
                           form-name="create_inventoryForm"
                           model="model">
            </table-outward>

        </div>

    </form>

    <div ng-if="inventoryList.stockInfo.length">
        <stock:detail stock:item="inventoryList"
                      show:to-info="false"
                      clas-type="className">
        </stock:detail>

        <div class="row text-center"
             ng-if="model.InventoryType === 2"
             style="margin: 35px;">
            
            <!-- when not counter custmer --> 
            <input ng-if="model.srcId !== 10"
                   type="button"
                   class="btn btn-warning"
                   value="View/Edit Chaalan"
                   ng-click="goto_viewChallan()" />

            <!-- for counter custmer -->
            <input ng-if="model.srcId === 10"
                   type="button"
                   class="btn btn-danger"
                   value="Create Invoice"
                   ng-click="create_Invoice()" />
        </div>

    </div>


</div>