<style>
    .control-label.col-sm-12 {
        padding: 0px;
        text-align: left;
    }
</style>

<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-6" style="font-size: 1.4em;">Search Dispatch Items</div>
                    </div>
                </div>

                <div class="panel-body">

                    <div class="form-group row text-center" style="margin-top: -20px;padding: 25px;">

                        <div class="row" style="padding: 15px 0px;">
                            <div class="col-md-3">
                                <label class="control-label col-sm-12">Order Source </label>
                                <select class="form-control" ng-model="model.srcId"
                                        ng-options="::source.Id as ::source.SourceName for source in inventory_sources">
                                    <option value=""> --- Select Source --- </option>
                                </select>
                            </div>

                            <div class="col-md-5">
                                <div class="col-md-9">
                                    <label class="control-label col-sm-12">Search Anything </label>
                                    <input type="text" class="form-control" ng-model="model.srchTxt" placeholder="Enter User name, Address, mobile" />
                                </div>
                                <div class="col-md-3 checkbox-inline" style="margin-top: 30px;">
                                    <label>
                                        <input type="checkbox" class="checkbox"
                                               ng-model="model.is_likeSrch"
                                               ng-disabled="!model.srchTxt"> Like
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <label class="control-label col-sm-12">Order Status</label>
                                <select class="form-control" ng-model="model.pcktSts"
                                        ng-options="::source.Id as ::source.Name for source in orderStatusList">
                                    <option value="" class="" selected="selected"> --- Select Source --- </option>
                                </select>
                            </div>
                        </div>

                        <div class="row" style="padding: 15px 0px;">
                            <div class="col-md-3">
                                <label class="control-label col-sm-12">Packet number</label>
                                <input type="text" class="form-control" ng-model="model.packetNo" />
                            </div>

                            <div class="col-md-offset-1 col-md-3">
                                <label class="control-label col-sm-12"> Invoice number</label>
                                <input type="text" class="form-control" ng-model="model.invoiceNo" />
                            </div>

                            <div class="col-md-offset-1 col-md-3"
                                 ng-if="model.srcId === 9"
                                 style="margin-top: 18px;">
                                <label class="radio-inline">
                                    <input type="radio" name="type" value="1" ng-model="model.ItemType"> Broucher
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="type" value="2" ng-model="model.ItemType"> Other
                                </label>
                            </div>

                        </div>

                        <div class="row" style="padding: 15px 0px;">
                            <div class="col-md-3">
                                <label class="control-label col-sm-12">Courier Name</label>
                                <select class="form-control" ng-model="model.courierId"
                                        ng-change="model.courierId && get_courierMode()"
                                        ng-options="::courier.Id as ::courier.Courier_Name for courier in courierList">
                                    <option value=""> --- Select Source --- </option>
                                </select>
                            </div>


                            <div class="col-md-offset-1 col-md-3">
                                <label class="control-label col-sm-12">Courier mode</label>
                                <select class="form-control" ng-model="model.courier_modeId"
                                        ng-options="::mode.Id as ::mode.Courier_Mode for mode in courierModeList">
                                    <option value=""> --- Select Source --- </option>
                                </select>
                            </div>

                            <div class="col-md-offset-1 col-md-3">
                                <label class="control-label col-sm-12">Packet Type</label>
                                <select class="form-control" ng-model="model.pcktType"
                                        ng-options="::packet.Id as ::packet.type for packet in packet_status">
                                    <option value=""> --- Select Source --- </option>
                                </select>
                            </div>

                        </div>

                        <div class="row" style="padding: 15px 0px;">
                            <div class="col-md-3">
                                <label class="control-label col-sm-12">From Date</label>
                                <div class="input-group date" id="myDatepicker" data-provide="datepicker">
                                    <input type="text" class="form-control1" ng-model="model.fromDate">
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-offset-1 col-md-3">
                                <label class="control-label col-sm-12">To Date</label>
                                <div class="input-group date" id="myDatepicker" data-provide="datepicker">
                                    <input type="text" class="form-control1" ng-model="model.toDate">
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-offset-1 col-md-3"
                                 ng-if="model.pcktType === 2">
                                <div class="col-sm-6">
                                    <label class="control-label col-sm-12">Min Wheight</label>
                                    <input type="text" class="form-control" ng-model="model.minWheight">
                                </div>
                                <div class="col-sm-6">
                                    <label class="control-label col-sm-12">Max Wheight</label>
                                    <input type="text" class="form-control" ng-model="model.maxWheight">
                                </div>
                            </div>

                        </div>

                        <div class="col-md-2 pull-right" style="margin-top: 30px;">
                            <button type="button" class="btn btn-primary" ng-click="search()">
                                <i class="fa fa-search"></i> Search
                            </button>
                        </div>

                    </div>
                    
                    <div class="row"
                         style="padding: 30px 0px;">

                        <h3 class="text-danger"
                              ng-if="!srchResult.length">
                            !Oops we did not find any record in given criteria, Try another :(
                        </h3>

                        <div class="table"
                             ng-if="srchResult.length">
                            <table datatable="ng"
                                   class="row-border hover">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Customer Nmae</th>
                                        <th>Packet ID</th>
                                        <th>Country</th>
                                        <th>Mobile</th>
                                        <th>Order/Challan Date</th>
                                        <th>Amount (₹)</th>
                                        <th>Order Source</th>
                                        <th>Order Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="order in srchResult">
                                        <td>{{ ::order.Id }}</td>
                                        <td>{{ ::order.custmer_name }}</td>
                                        <td>{{ ::order.packetNumber }}</td>
                                        <td>{{ ::order.UsrInfoModel.countryName }}, {{ ::order.UsrInfoModel.cityName }}, {{ ::order.UsrInfoModel.stateName }} </td>
                                        <td>{{ ::order.UsrInfoModel.PhoneNo }}</td>
                                        <td>{{ ::order.OrderDate | dateFormat: 'DD/MM/YYYY hh:mm a' }}</td>
                                        <td>{{ ::order.orderAmount }}</td>
                                        <td>{{ ::order.order_source }}</td>
                                        <td>{{ ::order.orderStatus }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</section>



