<form name="frm"
      ng-submit="Submit(frm)"
      ng-validate="validationOptions"
      novalidate="novalidate">

    <div ng-include="'Templates/School/StudentEntry/Partial/Header.html'"></div>

    <div class="sz_card">
        <div class="row">
           
            <!--Start Create Section-->
            <div class="col-md-12" ng-include="'Templates/School/StudentEntry/Partial/Create.html'"></div>

            <div class="col-md-12" ng-include="'Templates/School/StudentEntry/Partial/List.html'"></div>
            <!--End Create Section-->           
        </div>
    </div>
</form>
